body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

header {
  background-color: #9e5a1a;
  color: #fff;
  text-align: center;
  padding: 6px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#hero {
  min-height: 87.4vh;
  display: flex;
  background-image: url(walpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

#hero h2 {
  background-color: #9e5a1a;
  margin-top: 250px;
  margin-left: 280px;
  margin-right: 280px;
  padding: 10px 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.btn {
  display: inline-block;
  background-color: #e77930;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 70px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.btn:hover {
  background-color: #555;
}
